// Colours
$green-1: #58e1c1;
$green-2: #88d9a0;
$green-3: #63cc82;
$green-4: #80e8d1;

$blue-1: #51ddfc;
$blue-2: #7ee6fd;
$blue-3: #4da2bb;

$purple-1: #927bc1;
$purple-2: #deb2ee;

$orange-1: #fd7856;
$orange-2: #ec9fa3;
$orange-3: #fd9f85;

$red-1: #e4757a;

$white-1: #fff;

$grey-1: #ccc;
$grey-2: #777;

// Breakpoints
$media-break-md: 768px;
