// Grid

.container {
  padding: 0 10px;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
}

[class^="col"] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
}

.theme.col-1 {
  background-color: $purple-1;
}

.theme.col-2 {
  background-color: $orange-1;
}

.theme.col-3 {
  background-color: $purple-2;
}

.theme.col-4 {
  background-color: $blue-2;
}

.theme.col-5 {
  background-color: $green-2;
}

.theme.col-6 {
  background-color: $blue-3;
}

.theme.col-7 {
  background-color: $orange-2;
}

.theme.col-8 {
  background-color: $orange-3;
}

.theme.col-9 {
  background-color: $red-1;
}

.theme.col-10 {
  background-color: $green-3;
}

.theme.col-11 {
  background-color: $blue-1;
}

.theme.col-12 {
  background-color: $green-4;
}

.card {
  flex-basis: 100%;
}

@media (min-width: $media-break-md) {
  .centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .row {
    flex-direction: row;
  }
  [class^="col"] {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
  [class^="col"] + [class^="col"] {
    margin-left: 10px;
  }
  .col-1 {
    flex-basis: 8.33%;
  }
  .col-2 {
    flex-basis: 16.67%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 33.33%;
  }
  .col-5 {
    flex-basis: 41.67%;
  }
  .col-6 {
    flex-basis: 50%;
  }
  .col-7 {
    flex-basis: 58.33%;
  }
  .col-8 {
    flex-basis: 66.67%;
  }
  .col-9 {
    flex-basis: 75%;
  }
  .col-10 {
    flex-basis: 83.33%;
  }
  .col-11 {
    flex-basis: 91.67%;
  }
  .col-12 {
    flex-basis: 100%;
  }
}
